@model Forestage.Models.ViewModels.ChangePasswordVm

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="tb-login-form res">
                    <h5 class="tb-title">修改密碼</h5>

                    <form asp-action="ChangePassword">
                        <p class="checkout-coupon top log a-an">
                            <label class="l-contact">
                                請輸入舊密碼
                                <em>*</em>
                            </label>
                            <input asp-for="OldPassword" type="password" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </p>

                        <p class="checkout-coupon top log a-an">
                            <label class="l-contact">
                                請輸入新密碼
                                <em>*</em>
                            </label>
                            <input asp-for="NewPassword" type="password" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </p>

                        <p class="checkout-coupon top log a-an">
                            <label class="l-contact">
                                請再次輸入新密碼
                                <em>*</em>
                            </label>
                            <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </p>
                        <div class="mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <p class="login-submit5 ress">
                            <input type="submit" value="修改密碼" class="button-primary" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
