@model Forestage.Models.ViewModels.ModifyPersonalInformationVm

@{
    ViewData["Title"] = "Modify Personal Information";
}

<div class="row justify-content-center">
    <div class="col-md-8 easy2">
        <h2 class="text-center mb-4">修改我的個人資料</h2>
        <form asp-action="ModifyPersonalInformation" class="form-horizontal" method="post">
            <fieldset>
                <div class="rounded-3 p-5 mb-3 shadow-sm" style="border: 1px solid #ccc; background-color: #f9f9f9;">
                    <div class="form-group required mb-4">
                        <label asp-for="Name" class="form-label col-sm-2">姓名 <em class="text-danger">*</em></label>
                        <div class="col-sm-12">
                            <input asp-for="Name" class="form-control" placeholder="姓名" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group required mb-4">
                        <label asp-for="Phone" class="form-label col-sm-2">手機號碼 <em class="text-danger">*</em></label>
                        <div class="col-sm-12">
                            <input asp-for="Phone" class="form-control" placeholder="手機號碼" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="Birthday" class="form-label">請輸入生日</label>
                        <input asp-for="Birthday" type="date" class="form-control" value="" />
                        <span asp-validation-for="Birthday" class="text-danger"></span>
                    </div>
                </div>
            </fieldset>
            <div class="mb-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="d-flex justify-content-end">
                <input type="submit" value="修改" class="btn btn-primary me-2" />                
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script>
            $(document).ready(function () {
                // 移除生日和性別的必填驗證
                $("#Birthday").rules("remove", "required");                
            });
        </script>
    }
}
