@model Forestage.Models.ViewModels.ResetPasswordVm

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="login-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="tb-login-form res">
                    <h5 class="tb-title">修改密碼</h5>
                    @{
                        var emailValidationMessage = TempData["EmailVaildatation"] as string;
                    }
                    @if (!string.IsNullOrEmpty(emailValidationMessage))
                    {
                        <div class="alert alert-success">
                            @emailValidationMessage
                        </div>
                    }
                    <form asp-action="ResetPasswordFromEmailWithoutLogin">
                        

                        <p class="checkout-coupon top log a-an">
                            <label class="l-contact">
                                請輸入新密碼
                                <em>*</em>
                            </label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>

                        <p class="checkout-coupon top log a-an">
                            <label class="l-contact">
                                請再次輸入新密碼
                                <em>*</em>
                            </label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </p>
                        <div class="mb-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </div>
                        <p class="login-submit5 ress">
                            <input type="submit" value="修改密碼" class="button-primary" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
