@model Forestage.Models.ViewModels.Homes.IndexVm

@{
    ViewData["Title"] = "Home Page";
}
<script>
    let { createApp, ref, onMounted } = Vue;
</script>
<div class="text-center">
    <partial name="_IndexBestProducts" model="Model.BestProducts" />
    <partial name="_IndexNewProducts" model="Model.NewProducts" />
    <partial name="_IndexUpcomingProducts" model="Model.UpcomingProducts" />
</div>

