@using Forestage.Models.ViewModels.Shops
@model ShopInfoVm


<section class="pages products-page section-padding-top section-padding-bottom">
	<div class="container">
		<div class="row">
			<div>
				<div class="alert alert-danger">
					<p>查無此商家</p>
				</div>
			</div>
		</div>
	</div>
</section>
